
<div class="task-form">
<%= form_for(current_user.tasks.new, html: { class: 'form-inline' }) do |form| %>
  <div class="field">
    <%= form.label :title, class: 'sr-only' %>
    <%= form.text_field :title, class: 'form-control input-lg', placeholder: 'Do or do not, there is no try' %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
</div>
<br />
<div class="task-list">
<ul id="spans" data-url="<%= sort_tasks_path %>">
  <% @tasks.each do |task| %>
  <li class='task' data-id=<%= task.id %>>
    <div class="card">
      <div class="card-body">
        <%= task.title %>
        <span class="float-right"><%= link_to 'Edit', edit_task_path(task) %></span>
      </div>
    </div>
  </li>
  <% end %>
</ul>
</div>
