<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <%= render 'layouts/navbar.html.erb' %>

        <div class="container-fluid">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: [:alert, alert_for(name)], role: "alert"%>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>

  </body>
</html>
