<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex" id="wrapper">

      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"><%= link_to "TODO App", tasks_path(status: "today") %></div>
        <div class="list-group list-group-flush">
          <%= link_to "Due Today", tasks_path(status: "today"), class: 'list-group-item list-group-item-action bg-light' %>
          <%= link_to "Ongoing", tasks_path(status: "ongoing"), class: 'list-group-item list-group-item-action bg-light' %>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <%= render 'layouts/navbar.html.erb' %>

        <div class="container-fluid">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>

  </body>
</html>
